@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background: #eaeff2;
  font-family: "Roboto", "Helvetica";
}

textarea:focus, input:focus{
    outline: 0;
}

#corpusUpload button {
  text-transform: uppercase;
  padding: .5em 1em;
  background-color: #ffc64b;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

#corpusUpload button:hover {
  opacity: 0.75;
}

#wrapper {
  width: 70%;
  margin: 7% auto;
}

#queryForm {
  margin-top:10px;
}

#userCorpus {
  font-size: 14px;
  padding: 20px;
  border: 1px solid rgb(236, 236, 236);
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  line-height: 18px;
}

#query {
  margin-top: 10px;
  color: #39464E;
  padding: 10px 0 10px 11px;
  font-size: 30px;
  width: 99%;
  letter-spacing: 2px;
  border-radius: 2px;
  text-transform: lowercase;
  border: 1px solid #d0d0d0;
  background: rgba(255,255,255,.5);
}

#query_autocomplete_results {
  list-style: none;
  width: 100%;
  max-height: 200px;
  border: 1px solid #d0d0d0;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin: 0px;
  padding: 0px;
}

#query_autocomplete_results li {
  background-color: rgba(255,255,255,0.95);
  padding: 10px 0px 10px 15px;
  letter-spacing: .10em;
  border-bottom: 1px solid #ececec;
}

#query_autocomplete_results li:hover {
  background-color:#f2f2f2;
}

#stats {
  float: right;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
}

.clear {
  clear: both;
}

.emp {
  color: #4495d4;
  font-weight: bold;
}